<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--    <div class="ui container">-->
        <div class="m-padding">
            <div class="ui big teal tag label">分类</div>
            <div class="ui segment">
                <form action="#" th:action="@{/admin/type/saveType}" class="ui form" method="post" th:object="${type}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="field">
                                <div class="ui left labeled input">
                                    <div class="ui teal basic label">
                                        分类名称
                                    </div>
                                    <input type="text" name="name" th:value="*{name}" placeholder="骚年，来个骚气的分类名称吧~">
                                </div>
                            </div>
                        </div>
                        <div class="two wide column">
                            <div class="field m-padded-tb-small">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="status" id="public" th:checked="*{status}">
                                    <label for="public" onclick="show()">公开</label>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column"></div>
                        <div class="three wide column">
                            <button class="ui teal submit button">添加</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
        <div class="m-padding">
            <div class="ui big teal tag label">标签</div>
            <div class="ui segment">
                <form action="#" class="ui form" method="post" th:action="@{/admin/tag/saveTag}" th:object="${tag}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="field">
                                <div class="ui left labeled input">
                                    <div class="ui teal basic label">
                                        标签
                                    </div>
                                    <input type="text" name="name" placeholder="来个骚气的标签吧。" th:value="*{name}">
                                </div>
                            </div>
                        </div>
                        <div class="five wide column"></div>
                        <div class="three wide column">
                            <button class="ui submit teal button">添加</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
<!--    </div>-->


    <a href="#" th:href="@{/admin/tag}" class="ui teal button">返回</a>





    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });
    </script>

</body>
</html>