<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_common :: head()">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理|首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
    <nav class="ui attached segment m-bgcolor-black">
        <div class="ui attached container">
            <div class="ui inverted attached secondary menu m-bgcolor-black">
                <h2 class="ui header item">hu猴窝</h2>
                <h3 class="ui header item m-title-font-t2">自己的小地方，有乐亦有苦，自在乐逍遥~~~</h3>
                <div class="right menu">
                    <a class="ui item" th:href="@{/admin/editArticle/{id}(id=-1)}" target="_parent">
                       <i class="ui large pencil alternate icon"></i> 写博客
                    </a>
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                            HU猴
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="ui grid">
        <div class="three wide column">
            <div class="ui attached segment">
                <div class="ui fluid vertical pointing  menu">
                    <div class="item" id="menuItem1">
                        <div href="#" onclick="change(1,'/admin/view')"><i class="large chart line icon"></i> 浏览一栏</div>
                    </div>
                    <div class="active item" id="menuItem2">
                        <div href="#" onclick="change(2,'/admin/article')"><i class="large book icon"></i> 文章管理</div>
                    </div>
                    <div class="item" id="menuItem3">
                        <div href="#" onclick="change(3,'/admin/type/sort')"><i class="large archive icon"></i> 归档管理</div>
                    </div>
                    <div class="item" id="menuItem4">
                        <div href="#" onclick="change(4,'/admin/tag')"><i class="large tags icon"></i> 标签管理</div>
                    </div>
                    <div class="item" id="menuItem5">
                        <div href="#"><i class="large paint brush icon"></i> 随笔管理</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="thirteen wide column">
            <div class="ui attached segment">
                <div>
                    <div class="m-padding">
                        <div class="ui breadcrumb">
                            <a class="section">首页</a>
                            <div class="divider"> / </div>
                            <a class="active section">浏览一栏</a>
                        </div>
                    </div>


                    <div class="ui container">
                        <div class="ui segment">
                            <iframe src="sort.html" id="mIframe" th:src="@{/admin/tag}" frameborder="0" style="min-height: 550px;width: 100%;" scrolling="auto">

                            </iframe>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../../static/js/admin/index.js" th:src="@{/js/admin/index.js}"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

    </script>




</body>
</html>