<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_comment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>详情|MOUSE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/myFront.css" th:href="@{/css/myFront.css}">
    <link rel="stylesheet" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
</head>
<body>
    <div class="ui container">
        <div class="ui segment">
            <div id="content" class="typo typo-selection js-toc-content m-padded-lr-responsive">
                <div class="ui three columns grid">
                    <div class="one column">
                        <div style="display: inline-block;">
                            <img src="../static/images/avatar/avatar-3.png" alt="">
                        </div>
                    </div>
                    <div class="two columns">
                        <h2 style="display: inline-block;margin-right: 2em;">InvisibleMouse</h2><span>男</span>
                        <div>
                            <p>一个技术小白，想学习点东西，做点东西</p>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <h1>我的经历</h1>
                    <div>
                        <p>我是一个极其平常的人，甚至是劣于平常人，唯一感到庆幸的是我还算平安的活过了21年。</p>
                        <p>在这21年里，平平常常地生活，过着被安排的日子。不说学前的咿呀时期，我也没有多少印象；到了上学的时候，小初中去哪上，如何学习？到了大学，选择什么学校，
                            学什么专业，我都是听从我父母，我兄长的话。就我这个计算机的专业，就是听我哥的，然后报的。现在想想，我感觉挺可笑的，对自己的未来没有一点的计划。</p>
                    </div>
                </div>
                <div class="ui segment">
                    <h1>想象</h1>
                    <h4>写这段文字时我只是一个尚未涉世的青年，这就是我的一些理想化的想法，至于能不能实现，我不在乎，有时想想我就会很开心的。</h4>
                    <div>
                        <p>1、最早萌生在我头脑中的一件事情是：在我一生中期遇到几位挚友，我们不需要每天的频繁联系，在对方需要帮助的时候，不说是无条件的帮助对方也会尽自己的全力去帮助对方。
                            在一年中我们会找几天一起出去旅游，自驾游的那一种，不需要有目的地的那一种，我们不会在意着其他的事；我们在意着沿途的风景，胡吹海吹；我们放肆地畅谈，放肆地笑。</p>
                        <p>2、我是一个渴望自由的人，我喜欢被人约束着。有一说一、我想赚钱，赚很多的钱，期待我以后的生活中不会因为钱而被困扰，不希望我因为钱和家人朋友而面红耳赤。但是我渴望
                            自由，我不想因为工作而错过其他的精彩的事情。所以我想要的是和几个合伙人，我们自己开一个工作室，我们平均分配所得或者我们共用所得，我们不在乎个人所得，我们尝试着实现
                            小家的共产主义，我们只要实现财富自由就可以了，不要求挣得多。（这就是我的一厢情愿啊，纯属个人想法，毕竟我还没经过生活的毒打）
                        </p>
                        <p>
                            3、我是一个有想法当时就是想想的人，我想过奋不顾身地追求一位窈窕淑女，我会带着她去看优美的风景，我每天和她说一句情话，我在每次过节的时候给她惊喜，我会尽我一切所能让她
                            过的舒服，我想要和她一起体验生活的甘苦，我尽我所能去爱护她疼她。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>