<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="_comment :: head()">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>时间轴</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/myStyle.css">
    <link rel="stylesheet" href="../static/css/myFront.css">
</head>
<body>
<div class="bg"></div>
<nav th:replace="_comment :: menu(3)" class="ui attached segment mBG-color-black m-padded-tb-small">
    <div class="ui mini inverted secondary menu">
        <h1 class="ui header item" style="margin-right: 3em;">思想的巨人</h1>
        <div class="active item m-padded-tb-small">
            <a href="#"><i class="ui large home icon"></i> 首页</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large archive icon"></i>分类</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large archive icon"></i>时间轴</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large tags icon"></i>标签</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large coffee icon"></i>生活随笔</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large linkify icon"></i>友链</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large paw icon"></i>关于我</a>
        </div>
    </div>
</nav>
<div class="ui container">
    <div class="ui attached segment m-time-padded">
        <div>
            <div th:each="item:${articles}">
<!--                <div align="center" class="m-time-year" th:text="${years}>item.updateTime?'2019':'2018'">2019</div>-->
                <div  th:with="rand=${#numbers.formatDecimal(T(java.lang.Math).floor(T(java.lang.Math).random()*2),1,0)}">
                <div class="m-mobile-timeDiv"  th:classappend="${rand}==1 ? 'm-div-left' : 'm-div-right'" style="padding: 1em;">
                    <div class="m-time-point" th:classappend="${rand}==1?'m-point-right':'m-point-left'"></div>
                    <div class="m-time-date" th:text="${item.updateTime}">01-12</div>
                    <div class="m-div-inline" style="padding: 0.5em 0em;">
                        <div class="m-small-info">
                            <span><i class="user icon"></i> 作者:</span>
                            <span th:text="${item.author}">胡瑞</span>
                        </div>
                        <div class="m-small-info">
                            <span><i class="ui archive icon"></i> 分类:</span>
                            <span th:text="${item.type.name}">java</span>
                        </div>
                        <div class="m-small-info">
                            <span><i class="eye icon"></i> 观看人数:</span>
                            <span th:text="${item.views}">50</span>
                        </div>
                    </div>
                    <a href="#" class="m-category-a" th:text="${item.title}">纵观自己大学三年活得像条狗，收获啥没有</a>
                    <div class="m-time-line" th:classappend="${rand}==1?'m-line-right':'m-line-left'"></div>
                </div>
            </div>
            </div>
            <!--/*-->
            <div>
                <div class="m-div-right m-mobile-timeDiv">
                    <div class="m-time-point"></div>
                    <div class="m-time-date">01-12</div>
                    <div class="m-div-inline" style="padding: 0.5em 0em;">
                        <div class="m-small-info">
                            <span><i class="user icon"></i> 作者:</span>
                            <span th:text="${item.author}">胡瑞</span>
                        </div>
                        <div class="m-small-info">
                            <span><i class="ui archive icon"></i> 分类:</span>
                            <span th:text="${item.type.name}">java</span>
                        </div>
                        <div class="m-small-info">
                            <span><i class="calendar alternate icon"></i> 时间:</span>
                            <span th:text="${item.updateTime}">2012-12-23 10:20</span>
                        </div>
                        <div class="m-small-info">
                            <span><i class="eye icon"></i> 观看人数:</span>
                            <span th:text="${item.views}">50</span>
                        </div>
                    </div>
                    <a href="#" class="m-category-a">纵观自己大学三年活得像条狗，收获啥没有</a>
                    <div class="m-time-line"></div>
                </div>
            </div>
            <!--*/-->
        </div>
    </div>
</div>
</body>
</html>