<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_comment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>详情|MOUSE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/myFront.css" th:href="@{/css/myFront.css}">
    <link rel="stylesheet" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
</head>
<body>
    <div class="bg"></div>
    <nav th:replace="_comment :: menu(1)" class="ui attached segment mBG-color-black m-padded-tb-small">
    </nav>
    <div>
        <div class="ui stackable grid">
            <!-- --------左边--------- -->
            <div class="three wide column">
                <div class="mBG-color-white">
                    <div class="m-card-title m-mobile-hide" align="center">目录</div>
                    <div>
                        <div class="circular ui icon button m-mobile-list m-mobile-show" id="listIcon">
                            <i class="list icon"></i>
                        </div>
                        <a class="circular ui icon button m-mobile-list2 m-mobile-show" th:href="@{/}">
                            <i class="arrow left icon"></i>
                        </a>
                        <div class="m-mobile-showList m-mobile-hide" id="mList">
                            <ol class="myMenu"></ol>
                        </div>
                    </div>
                </div>
            </div>

            <!------------中间文章------------>
            <div class="ten wide column m-mobile-noPadding">
                <div id="content" class="typo typo-selection js-toc-content m-padded-lr-responsive" style="padding: 0em !important;">
                    <div>
                        <div class="ui attached segment m-mobile-noPadding" th:object="${article}">
                            <br>
                            <br>
                            <div style="position: relative;padding: 1.5em;" align="center">
                                <div class="ui header" style="font-size: 32px !important;" th:text="*{title}">Springboot总结</div>
                            </div>
                            <div class="m-div-inline" align="center">
                                <div class="m-small-info">
                                    <span><i class="user icon"></i> 作者:</span>
                                    <span th:text="*{author}">胡瑞</span>
                                </div>
                                <div class="m-small-info">
                                    <span><i class="calendar alternate icon"></i> 时间:</span>
                                    <span th:text="*{updateTime}">2012-12-23 10:20</span>
                                </div>
                                <div class="m-small-info">
                                    <span><i class="ui archive icon"></i> 分类:</span>
                                    <span th:text="*{type.name}">java</span>
                                </div>
                                <div class="m-small-info">
                                    <span><i class="eye icon"></i> 观看人数:</span>
                                    <span th:text="*{views}">50</span>
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="m-image-outline">
                                <div class="m-image">
                                    <img src="../static/images/bg/bg-2.jpg" alt="" style="width: 100%" th:src="*{picture}">
                                </div>
                            </div>
                            <!----------内容------------>
                            <div class="myContent m-image-outline" th:utext="*{content}">

                                <h1>你好啊</h1>
                                <h2>akdsfjslkdfjsdf</h2>
                                <h1>ddflasdjfklksadf</h1>
                                <h2>huruiniubi</h2>
                                <h3>nidongshime</h3>
                                <h1>didiao</h1>
                            </div>

                            <div style="padding: 0em 5em;" th:each="tag : *{tags}">
                                <a class="ui teal tag label" th:text="${tag.name}">java</a>
                            </div>

                            <div style="padding: 0em 5em;">
                                <hr>
                                <p style="font-size: 12px;">作者：<span th:text="*{author}">胡瑞</span></p>
                                <p style="font-size: 12px;">出处：<span th:text="*{source}">http://148.70.187.228:8080</span></p>
                                <p style="font-size: 12px;">希望在以后有酒有肉时候，我还有故事可以回忆，以文分享，更是记录成长。本人水平有限，若有不足，还望指正，共同进步。</p>
                                <p style="font-size: 12px;">版权声明： 本文版权归作者所有，欢迎转载，转载请署名作者且注明文章出处。</p>
                            </div>


                            <div style="padding: 0em 3em 4em 3em;" class="m-mobile-hide">
                                <a href="#" style="float: left;" th:href="@{/}"> < 返回首页</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!------------右边------------>
            <div class="three wide column">
            </div>
        </div>
    </div>

    <div th:replace="_comment :: js()">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
        <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
        <script src="../static/lib/tocbot/tocbot.js" th:src="@{/lib/tocbot/tocbot.js}"></script>
    </div>

    <script>
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.myMenu',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.myContent',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
        });

        $('#listIcon').click(function () {
            $('#mList').toggleClass('m-mobile-hide');
        });
    </script>


</body>
</html>