<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_comment :: head()">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理|首页</title>
</head>
<body>
    <div class="bg"></div>
    <nav th:replace="_comment :: menu(1)" class="ui attached segment mBG-color-black m-padded-tb-small">
        <div class="ui mini inverted secondary stackable menu">
            <h1 class="ui header item" style="margin-right: 3em;">思想的巨人</h1>
            <div class="active item m-padded-tb-small">
                <a href="#" th:href="@{/}"><i class="ui large home icon"></i> 首页</a>
            </div>
            <div class="item">
                <a href="#" th:href="@{/category}"><i class="ui large archive icon"></i>分类</a>
            </div>
            <div class="item">
                <a href="#"><i class="ui large archive icon"></i>时间轴</a>
            </div>
            <div class="item">
                <a href="#" th:href="@{/tag}"><i class="ui large tags icon"></i>标签</a>
            </div>
            <div class="item">
                <a href="#"><i class="ui large coffee icon"></i>生活随笔</a>
            </div>
            <div class="item">
                <a href="#"><i class="ui large linkify icon"></i>友链</a>
            </div>
            <div class="item">
                <a href="#"><i class="ui large paw icon"></i>关于我</a>
            </div>
            </div>
    </nav>
    <div class="m-padded">
        <div class="ui stackable grid">
            <!-- --------左边--------- -->
            <div class="three wide column m-mobile-hide">
                <div class="ui card m-card">
                    <div class="image">
                        <img th:src="@{/images/avatar/avatar-1.jpeg}" alt="" style="width: 100%">
                    </div>
                    <div class="content" style="padding: 0.6em;">
                        <h2 class="lager header" style="margin-bottom: 0.2em;">InvisibleMouse</h2>
                        <div class="meta" style="font-size: 0.9em">
                            一只渴望改变的狗。
                        </div>
                    </div>
                    <div class="extra content m-padded-tiny">
                        <div class="m-div-inline">
                            <div>
                                <a class="ui circular icon button">
                                    <i class="black lager github icon"></i>
                                </a>
                            </div>
                            <div>
                                <a class="ui circular icon button">
                                    <i class="blue lager qq icon"></i>
                                </a>
                            </div>
                            <div>
                                <a class="ui circular icon button">
                                    <i class="green lager wechat icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mBG-color-white">
                    <div class="m-card-title" align="center">标签云</div>
                    <div style="padding: 1em;">
                        <a href="#">java</a>
                        <a href="#">java</a>
                        <a href="#">java</a>
                        <a href="#">java</a>
                        <a href="#">java</a>
                        <a href="#">java</a>
                    </div>
                </div>
            </div>

            <!------------中间文章------------>
            <div class="ten wide column">
                <div style="background-color: white;opacity: 0.9;">
                    <div class="ui center aligned attached basic segment" style="border: none;" th:each="item:${articles}">
                        <div style="display: inline-block;position: relative;padding: 0.5em;">
                            <a class="ui header" style="font-size: 32px !important;" th:href="@{/article/{id}(id=${item.id})}" th:text="${item.title}">Springboot总结</a>
                            <div class="m-marker m-marker-style" th:text="${item.flag}">原</div>
                        </div>
                        <div class="m-div-inline">
                            <div class="m-small-info">
                                <span><i class="user icon"></i> 作者:</span>
                                <span th:text="${item.author}">胡瑞</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="ui archive icon"></i> 分类:</span>
                                <span th:text="${item.type.name}">java</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="calendar alternate icon"></i> 时间:</span>
                                <span th:text="${item.updateTime}">2012-12-23 10:20</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="eye icon"></i> 观看人数:</span>
                                <span th:text="${item.views}">50</span>
                            </div>
                        </div>

                        <div class="m-image-outline">
                            <div class="m-image">
                                <img src="../static/images/bg/bg-2.jpg" alt="" style="width: 100%" th:src="${item.picture}">
                            </div>
                        </div>
                        <div style="padding: 5em 0em 0em;" class="m-mobile-noPadding">
                            <a class="m-read-btn" th:href="@{/article/{id}(id=${item.id})}">阅读全文</a>
                        </div>
                        <hr class="m-hr">
                    </div>

                    <!--/*-->
                    <div class="ui center aligned attached basic segment" style="border: none;">
                        <div href="#" style="display: inline-block;position: relative;padding: 0.5em;">
                            <span class="ui header" style="font-size: 28px !important;">Springboot总结</span>
                            <div class="m-marker m-marker-style">原</div>
                        </div>
                        <div class="m-div-inline">
                            <div class="m-small-info">
                                <span><i class="user icon"></i> 作者:</span>
                                <span>胡瑞</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="ui archive icon"></i> 分类:</span>
                                <span>java</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="calendar alternate icon"></i> 时间:</span>
                                <span>2012-12-23 10:20</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="eye icon"></i> 观看人数:</span>
                                <span>50</span>
                            </div>
                        </div>

                        <div class="m-image-outline">
                            <div class="m-image">
                                <img src="../static/images/bg/bg-3.jpg" alt="" style="width: 100%">
                            </div>
                        </div>
                        <a class="m-read-btn">阅读全文</a>
                        <hr class="m-hr">
                    </div>
                    <div class="ui center aligned attached basic segment" style="border: none;">
                        <div href="#" style="display: inline-block;position: relative;padding: 0.5em;">
                            <span class="ui header" style="font-size: 28px !important;">Springboot总结</span>
                            <div class="m-marker m-marker-style">原</div>
                        </div>
                        <div class="m-div-inline">
                            <div class="m-small-info">
                                <span><i class="user icon"></i> 作者:</span>
                                <span>胡瑞</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="ui archive icon"></i> 分类:</span>
                                <span>java</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="calendar alternate icon"></i> 时间:</span>
                                <span>2012-12-23 10:20</span>
                            </div>
                            <div class="m-small-info">
                                <span><i class="eye icon"></i> 观看人数:</span>
                                <span>50</span>
                            </div>
                        </div>

                        <div class="m-image-outline">
                            <div class="m-image">
                                <img src="../static/images/bg/bg-4.jpg" alt="" style="width: 100%">
                            </div>
                        </div>
                        <a class="m-read-btn">阅读全文</a>
                        <hr class="m-hr">
                    </div>

                    <!--*/-->


                    <!----------翻页---------->
                    <div style="padding: 0em 3em 4em 3em;">
                        <a href="#" th:href="@{/(page=${articles.number}-1)}" th:unless="${articles.first}" class="ui black button">上一页</a>
                        <a href="#" th:href="@{/(page=${articles.number}+1)}" th:unless="${articles.last}" class="ui right floated black button">下一页</a>
                    </div>
                </div>
            </div>

            <!------------右边------------>
            <div class="three wide column">
                <div class="mBG-color-white m-mobile-hide">
                    <div class="m-card-title" align="center">每周一句</div>
                    <div style="padding: 2em;">
                        我是谁 <br>
                        我从哪里来 <br>
                        我要到哪里去 <br>
                        <div style="float: right;">
                            --无名氏
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="mBG-color-white">
                    <div class="m-card-title" align="center">客官，可否留下您的建议~~</div>
                    <div style="padding: 0.5em;background-color: aliceblue;">
                        <form action="#" class="ui form">
                            <div class="field">
                                <label>建议</label>
                                <input type="text" placeholder="请您尽情抒发^V^">
                            </div>
                            <div class="field">
                                <label>联系方式</label>
                                <input type="text" placeholder="如若方便请留下您的联系方式^V^">
                            </div>
                            <div align="center">
                                <button type="text" class="ui mini teal button">留下一笔</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="_comment :: js()">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <script src="../../static/js/index.js" th:src="@{/js/index.js}"></script>
    </div>

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

    </script>




</body>
</html>