<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/myStyle.css">
    <link rel="stylesheet" href="../static/css/myFront.css">
</head>
<body>
<div class="bg"></div>
<nav class="ui attached segment mBG-color-black m-padded-tb-small">
    <div class="ui mini inverted secondary menu">
        <h1 class="ui header item" style="margin-right: 3em;">思想的巨人</h1>
        <div class="active item m-padded-tb-small">
            <a href="#"><i class="ui large home icon"></i> 首页</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large archive icon"></i>分类</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large archive icon"></i>时间轴</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large tags icon"></i>标签</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large coffee icon"></i>生活随笔</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large linkify icon"></i>友链</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large paw icon"></i>关于我</a>
        </div>
    </div>
</nav>
<div class="ui container">
    <div style="padding: 2em 5em;">
        <div class="ui attached segment">
            <div class="m-category-title" align="center" style="padding: 1em;">共有**个标签</div>
            <div class="m-padded-small m-category m-div-inline">
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
                <div class="m-tag"> <i class="tag icon"></i> <a href="#">java<span class="m-category-marker">(#123)</span></a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>