<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="_comment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签|MOUSE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/myStyle.css">
    <link rel="stylesheet" href="../static/css/myFront.css">
</head>
<body>
<div class="bg"></div>
<nav th:replace="_comment :: menu(4)" class="ui attached segment mBG-color-black m-padded-tb-small">
    <div class="ui mini inverted secondary menu">
        <h1 class="ui header item" style="margin-right: 3em;">思想的巨人</h1>
        <div class="active item m-padded-tb-small">
            <a href="#"><i class="ui large home icon"></i> 首页</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large archive icon"></i>分类</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large archive icon"></i>时间轴</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large tags icon"></i>标签</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large coffee icon"></i>生活随笔</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large linkify icon"></i>友链</a>
        </div>
        <div class="item">
            <a href="#"><i class="ui large paw icon"></i>关于我</a>
        </div>
    </div>
</nav>
<div class="ui container">
    <div style="padding: 2em 5em;" class="m-mobile-noPadding">
        <div class="ui attached segment m-mobile-tbPadding">
            <div class="m-category-title m-mobile-noPadding" align="center" style="padding: 1em;">
                共有`<span th:text="${#arrays.length(tags)}"></span>`个标签
            </div>
            <div class="m-padded-small m-category m-div-inline">
                <div class="m-tag" th:each="tag : ${tags}">
                    <i class="tag icon"></i>
                    <a href="#" th:text="${tag.name}">java</a>
                    <span class="m-category-marker" th:text="'(#'+${#arrays.length(tag.articles)}+')'">(#123)</span>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="_comment :: js()"></div>

</body>
</html>